.volumeBox {
  .audioVolumeLabel {
    min-width: 3rem;
    padding-left: 0.5rem;
  }

  .volumeSlider {
    margin-left: 1rem;
  }
  trough {
    background-color: $bgGray;
    border-radius: 1rem;

    highlight, progress {
      border-radius: 1rem 0 0 1rem;
      background-color: $primary;
    }
  }

  slider {
    // border-radius: 1rem;
    // background-color: $text;
    // min-width: 4px;
    // min-height: 10px;
    background-color: $text;
    border-radius: 50%;
    min-width: 10px;
    min-height: 10px;
    box-shadow: 0 0 2px 1px black;
  }
}

.appMixerContainer {
  margin-top: 1rem;
}

.sinkSelectorContainer {
  margin-top: 1rem;
}
