.calendarContainer {
  background-color: $bgTrans;
  padding: 1rem; 
  border-radius: 1rem;

  .navContainer {
    padding: 0.5rem;

    .nav {
      label {
        font-size: 1.2rem;
      }
      .arrow {
        image {
          font-size: 1.5rem;
        }
      }
    }
  }

  .weekdays {
    label {
      padding: 0.5rem;
      font-weight: bold;
    }
  }

  .weeks {
    .weekRow {
      .day {
        min-width: 3.4rem;
        min-height: 3.4rem;

        label {
          font-size: 1.2rem;
        }

        &.otherMonth {
          label {
            color: mix($text, $bg, 50);
          }
        }

        &.today {
          font-weight: bold;
          background-color: $primary;
          border-radius: 50%;
          label {
            color: $primaryText;
          }
        }
      }
    }
  }
}
