.calendarContainer {
  background-color: $bgTrans;
  padding: 1rem; 
  border-radius: 1rem;

  .navContainer {
    padding: 0.5rem;

    .nav {
      label {
        font-size: 1.2rem;
      }
      .arrow {
        image {
          font-size: 1.5rem;
        }
      }

      &.month {
        min-width: 8rem;
      }

      &.year {
        label {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    }

    .jumpToday {
      background-color: $bgTrans;
      padding: 5px;
      border-radius: 0.5rem;

      &:hover {
        background-color: mix($bgTrans, $text, 95);
      }
    }
  }

  .weekdays {
    background-color: $bgTrans;
    border-radius: 0.5rem;
    margin-top: 0.5rem;

    label {
      padding: 0.5rem;
      font-weight: bold;
    }
  }

  .weeks {
    .weekRow {
      .dayContainer {
        padding: 0.8rem;

        .day {
          min-width: 2.2rem;
          min-height: 2.2rem;

          label {
            font-size: 1.2rem;
          }

          &.otherMonth {
            label {
              color: mix($text, $bg, 50);
            }
          }

          &.today {
            font-weight: bold;
            background-color: $primary;
            border-radius: 50%;
            label {
              color: $primaryText;
            }
          }
        }
      }
    }
  }
}
