.controlCenterContainer {
  border-radius: 1rem;

  .controlCenterBox {
      // min-width: 143rem;
      // min-height: 77rem;

    .controlEventBox {
      min-width: 114rem;
      min-height: 77rem;
    }

    .controlCenter {
      background-color: $bgTrans;
      border-radius: 0.5rem;
      padding: 1rem;
      min-width: 27rem;
      min-height: 27rem;

      scrollbar, scrollbar * {
        all: unset;
      }

      .settingsPage {
        min-height: 10rem;
      }

      .settingsMenu {
        margin-bottom: 0.8rem;

        .settingsTitle {
          font-weight: bold;
          padding-bottom: 0.8rem;
          min-height: calc(1rem + 1.3rem);
          
          button {
            padding: 0.5rem;
            background-color: $text;
            border-radius: 1rem;

            &.audioSettingsButton {
              padding: 4px;

              * {
                color: $bg;
                font-size: 1.6rem;
              }
            }

            label {
              color: $bg;
              font-size: 1rem;
            }
          }
        }

        separator {
          background-color: mix($bg, $text, 80);
          min-height: 2px;
        }

        .settingsContent {
          margin-top: 0.8rem;

          label {
            margin-left: 0.5rem;
          }
        }
      }

      .settingsHeader {
        margin: 8px 0 1rem 0;
        background-color: $bgTrans;
        border-radius: 1rem;

        .settingsButton {
          padding: 5px;
          font-size: 1.2rem;
          border-radius: 1rem;
          min-width: 2rem;
          background-color: transparent;

          &.active {
            background-color: mix($text, $bg);
          }
        }
      }
    }
  }

}
