.controlCenterContainer {
  border-radius: 1rem;

  .controlCenter {
    background-color: $bgTrans;
    border-radius: 1rem;
    padding: 1rem;
    min-width: 27rem;
    min-height: 27rem;

    scrollbar, scrollbar * {
      all: unset;
    }

    .settingsPage {
      min-height: 10rem;
    }

    .settingsMenu {
      margin-bottom: 0.8rem;

      .settingsTitle {
        font-weight: bold;
        padding-bottom: 0.8rem;
      }

      separator {
        background-color: mix($bg, $text, 80);
        min-height: 2px;
      }

      .settingsContent {
        margin-top: 0.8rem;

        label {
          margin-left: 0.5rem;
        }
      }
    }

    .settingsHeader {
      margin: 8px 0;
      background-color: $bgTrans;
      border-radius: 1rem;

      .settingsButton {
        padding: 5px;
        font-size: 1.2rem;
        border-radius: 1rem;
        min-width: 2rem;
        background-color: transparent;

        &.active {
          background-color: mix($text, $bg);
        }
      }
    }
  }
}
