.titleContainer {
  .titleBox {
    @include barBlock;
    .titleClass {
      font-size: 0.9rem;
      font-weight: bold;
      color: $primary;
    }

    .title {
      font-size: 1rem;
    }
  }
}
