.barIndicatorsContainer {
  @include barBlock;

  .barControlCenter {
    .indicator {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .hover {
      background-color: $bgGray;
      border-radius: 0.8rem;
    }
  }
}
