.barIndicatorsContainer {
  @include barBlock;
}

.barControlCenter * {
  // margin-left: 0.5em;
}

.networkIndicator {
  margin-right: 8px;
}

.bluetoothDevice {
  image:last-child {
    margin-right: 0;
  }
}
