.popupNotificationsContainer {
  border-radius: 1rem;
}

.notificationsPopupList {
  min-width: 40rem;
}

.notification {
  padding: 5px;
  border-radius: 1rem;
  background-color: $bgTrans;
  min-width: 26.3rem;

  .notificationIcon {
    font-size: 3rem;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
  }

  .notificationTitle {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .notificationTime {
    font-size: 0.9rem;
  }

  .notificationBody {
    font-size: 1rem;
  }

  .notificationClose {
    min-width: 1.5rem;
  }

  .notificationActionButton {
    background-color: mix($bgTrans, $text, 70);
    border-radius: 1rem;
    margin: 5px 0;
  }
}
