.popupNotificationsContainer {
  border-radius: 1rem;
}

.notificationsPopupList {
  min-width: 40rem;
  // margin-right: 5px;
}

.notification {
  padding: 5px;
  border-radius: 1rem;
  background-color: $bgTrans;
}
