// INSPO: https://github.com/PoSayDone/.dotfiles_wayland/blob/main/files/ags/scss/windows/bar.scss

// https://github.com/kotontrion/dotfiles

.barWindow {
  background-color: $bgTrans;
}

.clockContainer {
  @include barBlock;
  .clockDate {
    font-size: 0.9em;
    color: $primary;
  }

  .clockTime {
    font-size: 0.9em;
  }
}
