.barWindow {
  // background-color: mix($bgTrans, rgba(0,0,0,0.1), 20);
}

.clockContainer {
  @include barBlock;
  .clockDate {
    font-size: 0.9em;
    color: $primary;
  }

  .clockTime {
    font-size: 0.9em;
  }
}
