.wsContainer {
  background-color: $bgTrans;
  padding: 3px;

  .wsButton {
    transition: all 200ms;

    &.occupied {
      background-color: $bg;
      border-top: 1px solid $text;
      border-bottom: 1px solid $text;

      &.occupied-left {
        border-radius: 1rem 0 0 1rem;
        border-left: 1px solid $text;

        .wsButtonLabel {
          margin-left: 4px;
          border-radius: calc(1rem - 3px) 0 0 calc(1rem - 3px);
        }

        &.openLeft {
          border-left: 3px solid $green;
        }

        &.openRight {
          border-left: 3px solid $blue;
        }

        &.openCenter {
          border-left: 3px solid $red;
        }
      }

      &.occupied-right {
        border-radius: 0 1rem 1rem 0;
        border-right: 1px solid $text;

        .wsButtonLabel {
          margin-right: 4px;
          border-radius: 0 calc(1rem - 3px) calc(1rem - 3px) 0;
        }

        &.openLeft {
          border-right: 3px solid $green;
        }

        &.openRight {
          border-right: 3px solid $blue;
        }

        &.openCenter {
          border-right: 3px solid $red;
        }
      }

      &.occupied-alone {
        border-radius: 1rem;
        border: 1px solid $text;

        .wsButtonLabel {
          border-radius: calc(1rem - 3px);
        }

        &.openLeft {
          border: 3px solid $green;
        }

        &.openRight {
          border: 3px solid $blue;
        }

        &.openCenter {
          border: 3px solid $red;
        }
      }

    }

    &:not(.occupied) {
      border-radius: 1rem;
    }

    &.active {
      .wsButtonLabel {
        background-color: $bgGray;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }

    .wsButtonLabel {
      padding: 3px;
    }

    .wsMonitor {
      text-shadow: 0 0 2px;
    }

    &.wsLeft {
      .wsMonitor {
        color: $green;
      }
    }

    &.wsCenter {
      .wsMonitor {
        color: $red;
      }
    }

    &.wsRight {
      .wsMonitor {
        color: $blue;
      }
    }

    &.openLeft {
      border-top: 3px solid $green;
      border-bottom: 3px solid $green;
    }

    &.openCenter {
      border-top: 3px solid $red;
      border-bottom: 3px solid $red;
    }

    &.openRight {
      border-top: 3px solid $blue;
      border-bottom: 3px solid $blue;
    }
  }
}
