.wsContainer {
  @include barBlock;
  font-family: monospace;

  .wsButtonContainer {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: $bg;

    &.active {
      padding: 0px;
    }

    &.occupied {
      background-color: $bgGray;
    }
  }
  
  .wsButton {
    background-color: $bgGray;
    border-radius: 50%;
    color: $bg;
    transition: background-color 0.2s ease-in-out;

    .wsLabel {
      font-size: 0.8rem;
      min-width: 1.5rem;
      min-height: 1.5rem;
    }

    &.active {
      .wsLabel {
        min-width: calc(1.5rem + 4px);
        min-height: calc(1.5rem + 4px);
      }
    }

    &.wsLeft {
      background-color: $greenFade;
    }

    &.wsCenter {
      background-color: $redFade;
    }

    &.wsRight {
      background-color: $blueFade;
    }

    &.openLeft {
      background-color: $green;
      font-weight: bold;
    }

    &.openCenter {
      background-color: $red;
      font-weight: bold;
    }

    &.openRight {
      background-color: $blue;
      font-weight: bold;
    }
  }
}
