.wsContainer {
  @include barBlock;
  font-family: monospace;

  .wsButtonContainer {
    min-width: 2rem;

    border-radius: 50%;
  }
  
  .wsButton {
    transition: all 200ms;
    background-color: $bgGray;
    border-radius: 50%;
    color: $bg;
    min-width: 3rem;

    .wsLabel {
      font-size: 1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &.active {
      .wsLabel {
        border-radius: 50%;
        // box-shadow: 0 0 0 2px white;
      }
    }

    &.wsLeft {
      background-color: $greenFade;
    }

    &.wsCenter {
      background-color: $redFade;
    }

    &.wsRight {
      background-color: $blueFade;
    }

    &.openLeft {
      background-color: $green;
      font-weight: bold;
    }

    &.openCenter {
      background-color: $red;
      font-weight: bold;
    }

    &.openRight {
      background-color: $blue;
      font-weight: bold;
    }
  }
}
