.wsContainer {
  background-color: $bgTrans;
  padding: 3px;

  .wsButton {
    transition: all 200ms;

    &.occupied {
      background-color: $bg;
      border-top: 1px solid $text;
      border-bottom: 1px solid $text;

      &.occupied-left {
        border-radius: 1rem 0 0 1rem;
        border-left: 1px solid $text;

        &.active {
          .wsButtonLabel {
            border-radius: 1rem 0 0 1rem;
          }
        }

        &.openLeft {
          border-left: 4px solid $green;
        }

        &.openRight {
          border-left: 4px solid $blue;
        }

        &.openCenter {
          border-left: 4px solid $red;
        }
      }

      &.occupied-right {
        border-radius: 0 1rem 1rem 0;
        border-right: 1px solid $text;

        &.active {
          .wsButtonLabel {
            padding: 4px;
            border-radius: 0 1rem 1rem 0;
          }
        }

        &.openLeft {
          border-right: 4px solid $green;
        }

        &.openRight {
          border-right: 4px solid $blue;
        }

        &.openCenter {
          border-right: 4px solid $red;
        }
      }

      &.occupied-alone {
        border-radius: 1rem;
        border: 1px solid $text;

        &.active {
          .wsButtonLabel {
            padding: 4px;
            border-radius: 1rem;
          }
        }

        &.openLeft {
          border: 4px solid $green;
        }

        &.openRight {
          border: 4px solid $blue;
        }

        &.openCenter {
          border: 4px solid $red;
        }
      }

    }

    &:not(.occupied) {
      border-radius: 1rem;
    }

    &.active {
      .wsButtonLabel {
        background-color: $text;
        color: $bg;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    
      &.occupied-left {
        .wsButtonLabel {
          margin-left: 4px;
        }
      }

      &.occupied-right {
        .wsButtonLabel {
          margin-right: 4px;
        }
      }

      .wsMonitor {
        color: $bg;
      }
    }

    .wsButtonLabel {
      // padding: 0.5rem;
    }

    .wsMonitor {
      text-shadow: 0 0 2px;
    }

    &.wsLeft:not(.active) {
      .wsMonitor {
        color: $green;
      }
    }

    &.wsCenter {
      &:not(.active) {
        .wsMonitor {
          color: $red;
        }
      }
    }

    &.wsRight {
      &:not(.active) {
        .wsMonitor {
          color: $blue;
        }
      }
    }

    &.openLeft {
      border-top: 4px solid $green;
      border-bottom: 4px solid $green;
    }

    &.openCenter {
      border-top: 4px solid $red;
      border-bottom: 4px solid $red;
    }

    &.openRight {
      border-top: 4px solid $blue;
      border-bottom: 4px solid $blue;
    }
  }
}
