* {
  all: unset;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #ddc7a1; }

switch {
  border-radius: 1rem;
  padding: 2px;
  background-color: #777472; }
  switch.active {
    background-color: #e78a4e; }
  switch slider {
    background-color: #1d2021;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%; }
  switch image {
    color: transparent; }

.corner {
  background-color: rgba(29, 32, 33, 0.6);
  border-radius: 1rem; }

.angle {
  background-color: rgba(29, 32, 33, 0.6); }

.barWindow {
  background-color: rgba(29, 32, 33, 0.6); }

.clockContainer {
  transition: background-color 0.2s ease-in-out;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: #1d2021;
  color: #ddc7a1; }
  .clockContainer .clockDate {
    font-size: 0.9em;
    color: #e78a4e; }
  .clockContainer .clockTime {
    font-size: 0.9em; }

.wsContainer {
  transition: background-color 0.2s ease-in-out;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: #1d2021;
  color: #ddc7a1;
  font-family: monospace; }
  .wsContainer .wsButtonContainer {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: #1d2021; }
    .wsContainer .wsButtonContainer:first-child {
      margin-left: 0; }
    .wsContainer .wsButtonContainer:last-child {
      margin-right: 0; }
    .wsContainer .wsButtonContainer.active {
      padding: 0px; }
    .wsContainer .wsButtonContainer.occupied {
      background-color: #3c3836; }
  .wsContainer .wsButton {
    background-color: #3c3836;
    border-radius: 50%;
    color: #1d2021;
    transition: background-color 0.2s ease-in-out; }
    .wsContainer .wsButton .wsLabel {
      font-size: 0.8rem;
      min-width: 1.5rem;
      min-height: 1.5rem; }
    .wsContainer .wsButton.active .wsLabel {
      min-width: calc(1.5rem + 4px);
      min-height: calc(1.5rem + 4px); }
    .wsContainer .wsButton.wsLeft {
      background-color: #656d3d; }
    .wsContainer .wsButton.wsCenter {
      background-color: #8c3f3b; }
    .wsContainer .wsButton.wsRight {
      background-color: #4b6862; }
    .wsContainer .wsButton.openLeft {
      background-color: #a9b665;
      font-weight: bold; }
    .wsContainer .wsButton.openCenter {
      background-color: #ea6962;
      font-weight: bold; }
    .wsContainer .wsButton.openRight {
      background-color: #7daea3;
      font-weight: bold; }

.titleContainer .titleBox {
  transition: background-color 0.2s ease-in-out;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: #1d2021;
  color: #ddc7a1; }
  .titleContainer .titleBox .titleClass {
    font-size: 0.9rem;
    font-weight: bold;
    color: #e78a4e; }
  .titleContainer .titleBox .title {
    font-size: 1rem; }

.barIndicatorsContainer {
  transition: background-color 0.2s ease-in-out;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: #1d2021;
  color: #ddc7a1; }

.barControlCenter * {
  margin-left: 0.5em; }
  .barControlCenter *:first-child {
    margin: 0; }

.bluetoothDevice image:last-child {
  margin-right: 0; }

.controlCenterContainer {
  border-radius: 1rem; }
  .controlCenterContainer .controlCenter {
    background-color: rgba(29, 32, 33, 0.6);
    border-radius: 1rem;
    padding: 1rem;
    min-width: 27rem;
    min-height: 27rem; }
    .controlCenterContainer .controlCenter scrollbar, .controlCenterContainer .controlCenter scrollbar * {
      all: unset; }
    .controlCenterContainer .controlCenter .settingsPage {
      min-height: 10rem; }
    .controlCenterContainer .controlCenter .settingsMenu {
      margin-bottom: 0.8rem; }
      .controlCenterContainer .controlCenter .settingsMenu .settingsTitle {
        font-weight: bold;
        padding-bottom: 0.8rem; }
      .controlCenterContainer .controlCenter .settingsMenu separator {
        background-color: #43413b;
        min-height: 2px; }
      .controlCenterContainer .controlCenter .settingsMenu .settingsContent {
        margin-top: 0.8rem; }
        .controlCenterContainer .controlCenter .settingsMenu .settingsContent label {
          margin-left: 0.5rem; }
    .controlCenterContainer .controlCenter .settingsHeader {
      margin: 8px 0;
      background-color: rgba(29, 32, 33, 0.6);
      border-radius: 1rem; }
      .controlCenterContainer .controlCenter .settingsHeader .settingsButton {
        padding: 5px;
        font-size: 1.2rem;
        border-radius: 1rem;
        min-width: 2rem;
        background-color: transparent; }
        .controlCenterContainer .controlCenter .settingsHeader .settingsButton.active {
          background-color: #7d7461; }
