* {
  all: unset;
  padding: 0;
  margin: 0;
  font-size: 16px; }

.corner {
  background-color: rgba(29, 32, 33, 0.6);
  border-radius: 1rem; }

.angle {
  background-color: rgba(29, 32, 33, 0.6); }

.barWindow {
  background-color: rgba(29, 32, 33, 0.6); }

.clockContainer {
  transition: background-color 0.2s ease-in-out;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: #1d2021;
  color: #ddc7a1; }
  .clockContainer .clockDate {
    font-size: 0.9em;
    color: #e78a4e; }
  .clockContainer .clockTime {
    font-size: 0.9em; }

.wsContainer {
  transition: background-color 0.2s ease-in-out;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: #1d2021;
  color: #ddc7a1;
  font-family: monospace; }
  .wsContainer .wsButtonContainer {
    min-width: 2rem;
    border-radius: 50%; }
  .wsContainer .wsButton {
    transition: all 200ms;
    background-color: #3c3836;
    border-radius: 50%;
    color: #1d2021;
    min-width: 3rem; }
    .wsContainer .wsButton .wsLabel {
      font-size: 1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
    .wsContainer .wsButton.active .wsLabel {
      border-radius: 50%; }
    .wsContainer .wsButton.wsLeft {
      background-color: #656d3d; }
    .wsContainer .wsButton.wsCenter {
      background-color: #8c3f3b; }
    .wsContainer .wsButton.wsRight {
      background-color: #4b6862; }
    .wsContainer .wsButton.openLeft {
      background-color: #a9b665;
      font-weight: bold; }
    .wsContainer .wsButton.openCenter {
      background-color: #ea6962;
      font-weight: bold; }
    .wsContainer .wsButton.openRight {
      background-color: #7daea3;
      font-weight: bold; }

.titleContainer .titleBox {
  transition: background-color 0.2s ease-in-out;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: #1d2021;
  color: #ddc7a1; }
  .titleContainer .titleBox .titleClass {
    font-size: 0.9rem;
    font-weight: bold;
    color: #e78a4e; }
  .titleContainer .titleBox .title {
    font-size: 1rem; }

.barIndicatorsContainer {
  transition: background-color 0.2s ease-in-out;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: #1d2021;
  color: #ddc7a1;
  margin-left: 0.5em;
  margin-right: 0.5em; }

.bluetoothDevice image:last-child {
  margin-right: 0; }
