$bg: #1d2021;
$bgTrans: transparentize(#1d2021, 0.3);
$bgLighter: #282828;
$text: #ddc7a1;
$textDim: #b8a78c;
$primary: #e78a4e;
$primaryText: #1d2021;

$green: #a9b665;
$red: #ea6962;
$blue: #7daea3;
