$bg: #1d2021;
$bgTrans: transparentize(#1d2021, 0.3);
$bgLighter: #282828;
$bgBlue: #2e3b3b;
$text: #ddc7a1;
$textDim: #b8a78c;
$primary: #e78a4e;
$primaryText: #1d2021;

$green: #a9b665;
$darkGreen: #32361a;
$red: #ea6962;
$darkRed: #3c1f1e;
$blue: #7daea3;
$darkBlue: #0d3138;
