$bg: #1d2021;
$bgTrans: transparentize(#1d2021, 0.4);
$bgLighter: #282828;
$bgGray: #3c3836;
$text: #ddc7a1;
$textDim: #b8a78c;
$primary: #e78a4e;
$primaryText: #1d2021;

$green: #a9b665;
$greenFade: mix($green, #000, 60);
$red: #ea6962;
$redFade: mix($red, #000, 60);
$blue: #7daea3;
$blueFade: mix($blue, #000, 60);
