@import "./colors.scss";
@import "./common.scss";
@import "./widgets/Topbar.scss";
@import "./widgets/Workspaces.scss";
@import "./widgets/FocusedTitle.scss";
@import "./widgets/Indicators.scss";
@import "./widgets/ControlCenter.scss";
@import "./widgets/Audio.scss";
@import "./widgets/Notifications.scss";
@import "./widgets/AppLauncher.scss";
@import "./widgets/Mpris.scss";
@import "./widgets/Calendar.scss";
@import "./widgets/Power.scss";
