* {
  all: unset;
  padding: 0;
  margin: 0;
  font-size: 16px; }

.corner {
  background-color: rgba(29, 32, 33, 0.7);
  border-radius: 1rem; }

.angle {
  background-color: rgba(29, 32, 33, 0.7); }

.systray-container {
  background-color: rgba(29, 32, 33, 0.7);
  padding-right: 8px; }

.clockContainer {
  background-color: rgba(29, 32, 33, 0.7);
  padding-right: 8px; }
  .clockContainer .clockDate {
    font-size: 1rem;
    color: #e78a4e; }
  .clockContainer .clockTime {
    font-size: 1rem; }

.wsContainer {
  background-color: rgba(29, 32, 33, 0.7);
  padding: 3px; }
  .wsContainer .wsButton {
    transition: all 200ms; }
    .wsContainer .wsButton.occupied {
      background-color: #1d2021;
      border-top: 1px solid #ddc7a1;
      border-bottom: 1px solid #ddc7a1; }
      .wsContainer .wsButton.occupied.occupied-left {
        border-radius: 1rem 0 0 1rem;
        border-left: 1px solid #ddc7a1; }
        .wsContainer .wsButton.occupied.occupied-left .wsButtonLabel {
          margin-left: 4px;
          border-radius: calc(1rem - 3px) 0 0 calc(1rem - 3px); }
        .wsContainer .wsButton.occupied.occupied-left.openLeft {
          border-left: 3px solid #a9b665; }
        .wsContainer .wsButton.occupied.occupied-left.openRight {
          border-left: 3px solid #7daea3; }
        .wsContainer .wsButton.occupied.occupied-left.openCenter {
          border-left: 3px solid #ea6962; }
      .wsContainer .wsButton.occupied.occupied-right {
        border-radius: 0 1rem 1rem 0;
        border-right: 1px solid #ddc7a1; }
        .wsContainer .wsButton.occupied.occupied-right .wsButtonLabel {
          margin-right: 4px;
          border-radius: 0 calc(1rem - 3px) calc(1rem - 3px) 0; }
        .wsContainer .wsButton.occupied.occupied-right.openLeft {
          border-right: 3px solid #a9b665; }
        .wsContainer .wsButton.occupied.occupied-right.openRight {
          border-right: 3px solid #7daea3; }
        .wsContainer .wsButton.occupied.occupied-right.openCenter {
          border-right: 3px solid #ea6962; }
      .wsContainer .wsButton.occupied.occupied-alone {
        border-radius: 1rem;
        border: 1px solid #ddc7a1; }
        .wsContainer .wsButton.occupied.occupied-alone .wsButtonLabel {
          border-radius: calc(1rem - 3px); }
        .wsContainer .wsButton.occupied.occupied-alone.openLeft {
          border: 3px solid #a9b665; }
        .wsContainer .wsButton.occupied.occupied-alone.openRight {
          border: 3px solid #7daea3; }
        .wsContainer .wsButton.occupied.occupied-alone.openCenter {
          border: 3px solid #ea6962; }
    .wsContainer .wsButton:not(.occupied) {
      border-radius: 1rem; }
      .wsContainer .wsButton:not(.occupied) .wsButtonLabel {
        border-radius: calc(1rem - 3px);
        margin: 3px; }
    .wsContainer .wsButton.active .wsButtonLabel {
      background-color: #3c3836; }
    .wsContainer .wsButton .wsButtonLabel {
      padding: calc(0.5rem - 3px); }
    .wsContainer .wsButton .wsMonitor {
      text-shadow: 0 0 2px; }
    .wsContainer .wsButton.wsLeft .wsMonitor {
      color: #a9b665; }
    .wsContainer .wsButton.wsCenter .wsMonitor {
      color: #ea6962; }
    .wsContainer .wsButton.wsRight .wsMonitor {
      color: #7daea3; }
    .wsContainer .wsButton.openLeft {
      border-top: 3px solid #a9b665;
      border-bottom: 3px solid #a9b665; }
    .wsContainer .wsButton.openCenter {
      border-top: 3px solid #ea6962;
      border-bottom: 3px solid #ea6962; }
    .wsContainer .wsButton.openRight {
      border-top: 3px solid #7daea3;
      border-bottom: 3px solid #7daea3; }
