* {
  all: unset;
  padding: 0;
  margin: 0;
  font-size: 16px; }

.corner {
  background-color: rgba(29, 32, 33, 0.5);
  border-radius: 1rem; }

.angle {
  background-color: rgba(29, 32, 33, 0.5); }

.systray-container {
  background-color: rgba(29, 32, 33, 0.5);
  padding-right: 8px; }
  .systray-container .systray-item {
    font-size: 1.3rem; }

.clockContainer {
  background-color: rgba(29, 32, 33, 0.5);
  padding-right: 8px; }
  .clockContainer .clockDate {
    font-size: 0.6rem;
    color: #e78a4e; }
  .clockContainer .clockTime {
    font-size: 0.7rem; }
